<% layout("layouts/boilerplate") %>

<style>
    em:hover {
        cursor: pointer;
        text-decoration: underline;
    }
</style>

<div class="row mt-3">
  <h1>Privacy Policy</h1>
  <p>Last updated: October 3, 2025</p>

  <p><b>We value your privacy.</b> This is a placeholder privacy policy for demonstration purposes.</p>

  <h3>Information We Collect</h3>
  <p>Currently, we do not actively collect personal information. If this website starts collecting data (such as names, emails, or analytics), the policy will be updated accordingly.</p>

  <h3>How We Use Information</h3>
  <p>Any information provided will only be used to improve our services. We will never sell your data.</p>

  <h3>Cookies</h3>
  <p>This site may use cookies for basic functionality. By using this website, you agree to the use of cookies.</p>

  <h3>Contact Us</h3>
  <p>If you have any questions, you can reach us at <em><b>support.wanderlust@gmail.com</b></em>.</p>
</div>